{% extends "base.html" %}
{% load static %}

{% block posts %}<center>
<div class="card" style="width: 70rem; margin-top: 50px;">
	<center>
	  <h1 class="display-4"></h1>
	  <h2 class="my-4">
	  <p class="lead">selamat datang di blogku</p>
	  <p class="lead"> dengan mudah anda mendapatkan informasi</p>
	  <p class="lead">blog terbaik dengan update terbaru</p>
	  <a class="btn btn-primary btn-lg" href="/networking" role="button">Learn more</a>
	</center>
	
	
	
	<br>
	<h3 class="mt-5 text-center"><strong>ABOUT US</strong></h3>
	<hr>
	<br>
	<center>
	<div class="card" style="width: 65rem; margin-top: 10px;">
	<div class="bg-light">
		<div class="container text-justify p-4">
			<div class="row">
				<div class="col-md-6">
					We kami menyediakan informasi tentang cyber securit platform dengan update terbaru, kami menyediakan informasi tentang networking programming forensics serta cryptography untuk meninggkatkan pengetahuan anda, kami menyediakan web ini dengan gratis tanpa biaya, dan bisa diakses oleh siapa saja yang memutuhkan informasi tentang cyber security.
					<br>
				</div>
				<div class="col-md-6">
					kami juga menerima jasa pemuatan program maupun projek kuliah kalian, bagi yang tidak mau mengerjakan tugas kuliah bisa kontak saya, dijamin harga bersahabat dan dijamin 100 % jadi, garansi uang kembali apabila projek tidak selesai, semoga informasi tentang blog ini bisa diterima dengan baik, silahkan nikmati web ang kami buat.  
					<br>
				</div>
			</div>
		</div>
	</div>
</div>
</center>
	<br>
	<h3 class="mt-5 text-center"><strong>OUR SERVICE</strong></h3>
	<hr>
	<div class="bg-light">
	<div class="row text-center mt-5">
		<div class="col-md-3">
			<br>
			<i class="fas fa-rss h1"></i>
			<div class="card" style="width: 15rem; margin-top: 10px;">
			<h3>Akses ke blog dengan cepat</h3>
			bagi pengunjung ang memiliki internet lemot, bisa mengakses web ini dengan mode lite yang segera akan diluncurkan
		</div>
	</div>
		<div class="col-md-3">
			<br>
			<i class="fas fa-shield-alt h1"></i>
			<div class="card" style="width: 15rem; margin-top: 10px;">
			<h3>Keamanan Website Ekstra</h3>
			web ini terhindar dari malware maupun link link gak jelas yang bikin pusing
		</div>
	</div>
		<div class="col-md-3">
			<br>
			<i class="fas fa-archive h1"></i>
			<div class="card" style="width: 15rem; margin-top: 10px;">
			<h3>Harga murah gak perlu bayar</h3>
			anda bisa mengakses blog ini dengan gratis tanpa dipungut biaya
		</div>
	</div>
		<div class="col-md-3">
			<br>
			<i class="fas fa-headset h1"></i>
			<div class="card" style="width: 15rem; margin-top: 10px;">
			<h3>Tim kami juga menediakan jasa</h3>
			tim kami menediakan jasa pengerjakan tugas akhir, projek semester dan tugaas kelas lainya dengan harga murah, kalau sedang gak sibuk
		</div>
	</div>
	</div>
	</div>
	<div class="bg-light">
	<br>
	<br><br>
	<center>
	<section class="guarantee">
	<div class="container">
	<div class="row">
	<div class="guarantee__logo-wrapper  col-12 col-md-12">
	<img class="img-fluid" src="{% static "img/logo16x16.png" %}" alt="garansi web hosting indonesia" width="20%">
	</div>
	<div class="guarantee__text-wrapper mt-4  col-12 col-md-12">
	<h3 class="guarantee__title">Contact person : </h3>
	<p class="guarantee__description">088812766678</p>
	</div>
	</div>
	</div>
	</section>
	</center>
</div></center>
{% endblock posts %}